body {
    padding: 0;
    margin: 0;
    background: #f2f6e9;
}
.navbar {
    background:#ffffff;
}
.nav-link,
.navbar-brand {
    color: rgb(24, 23, 23);
    cursor: pointer;
}
.navbar-under{
    margin-left: 1em !important;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #000;
}
.navbar-collapse {
    justify-content: flex-end;
}
