<footer class="footer">
    <div class="container-footer">
        <div class="row">
            <div class="footer-col">
                <h4>Source</h4>
                <ul>
                    <li><a href="#">cdc website</a></li>
                    <li><a href="#">information</a></li>
                    <li><a href="#">information</a></li>
                    <li><a href="#">information</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Resgister for vaccine</h4>
                <ul>
                    <li><a href="#">CVS</a></li>
                    <li><a href="#">Othena</a></li>
                    <li><a href="#">information</a></li>
                    <li><a href="#">information</a></li>
                    
                </ul>
            </div>
            
            <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
  </footer>
  
  <script src="index.js"></script>
    </body>
  </html>