<%- include('header'); -%>
<div class="twitter-feed">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
              <!-- Twitter Embed Code -->
              <a class="twitter-timeline" href="https://twitter.com/CDCgov?ref_src=twsrc%5Etfw">Tweets by CDCgov</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
               <!-- Twitter Embed Code -->
            </div>
        </div>
    </div>
  </div> 
<%- include('footer'); -%>