<%- include('header'); -%>
<h2 style="text-align:center">Number</h2>

<table>
  <tr>
    <th>Country</th>
    <th>Cases</th>
    <th>Recovery</th>
    <th>Death</th>
  </tr>
  <tr>
    <td>United States</td>
    <td>10000</td>
    <td>10000</td>
    <td>10000</td>
  </tr>
  <tr>
    <td>India</td>
    <td>10000</td>
    <td>10000</td>
    <td>10000</td>
  </tr>
  <tr>
    <td>Brazil</td>
    <td>10000</td>
    <td>10000</td>
    <td>10000</td>
  </tr>
  <tr>
    <td>Russia</td>
    <td>10000</td>
    <td>10000</td>
    <td>10000</td>
  </tr>
  <tr>
    <td>United Kingdom</td>
    <td>10000</td>
    <td>10000</td>
    <td>10000</td>
  </tr>
  <tr>
    <td>France</td>
    <td>10000</td>
    <td>10000</td>
    <td>10000</td>
  </tr>
  <tr>
    <td>Spain</td>
    <td>10000</td>
    <td>10000</td>
    <td>10000</td>
  </tr>
  <tr>
    <td>Japan</td>
    <td>10000</td>
    <td>10000</td>
    <td>10000</td>
  </tr>
</table>

<%- include('footer'); -%>